<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

<header>
    <h1 style="text-align:center">COEP, Pune</h1>
</header>

<nav class="navbar navbar-expand-lg navbar-light bg-light">


  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dept" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Department
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'show_dpt' %}">Show All Department</a>
          <a class="dropdown-item" href="{% url 'add_dpt' %}">Add new Department</a>
<!--          <a class="dropdown-item" href="#">Show all Students in Department</a>-->
<!--          <a class="dropdown-item" href="#">Show all Lecturers in Department</a>-->
        </div>
      </li>

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="lect" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Lecturer
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'show_lect' %}">Show All Lecturer</a>
          <a class="dropdown-item" href="{% url 'add_lect' %}">Add New Lecturer</a>
<!--          <a class="dropdown-item" href="#">Show Perticular lecturer's Information</a>-->
        </div>
      </li>

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="stud" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Student
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'show_stu' %}">Show All Student</a>
          <a class="dropdown-item" href="{% url 'add_stu' %}">Add New Student</a>
<!--            <a class="dropdown-item" href="#">Show Perticular lecturer's Information</a>-->
        </div>
      </li>

      <span style="float:right">
        <a class="nav-link" href="{% url 'search' %}">Search <span class="sr-only">(current)</span></a>

        </span>

    </ul>
  </div>



</nav>

{% block content %}

{% endblock %}



</body>
</html>














